# Dépendances
node_modules/
.venv/
venv/
__pycache__/
*.pyc

# Builds
dist/
build/
.vite/

# Secrets
.env
.env.local
*.env

# Éditeurs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
